---
title: styles.css
---

// Clearfix mixin. Uses 2 different mixins, actually,
// where the first is a "private" or helper mixin in order to simplify
// the coding of the real clearfix mixin.
@mixin cfbookend() {
    content: "\0020";
    display: table;
    height: 0;
    overflow: hidden;
}
@mixin clearfix() {
    &:before {
        @include cfbookend();
    }
    &:after {
        @include cfbookend();
        clear: both;
    }
    zoom: 1;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
    line-height: 1.4;
    font-weight: 300;

    a {
        color: #777;
        text-decoration: none;
        border-bottom: 2px solid transparent;
        &:hover {
            color: #444;

            &.twice {
                border-color: #e14444;
            }
            &.linkedIn {
                border-color: #d9c200;
            }
            &.gitHub {
                border-color: #4183c4;
            }
            &.email {
                border-color: #5da453;
            }
        }
    }

    >.wrap {
        display: table;
        width: 430px;
        height: 80%;
        margin: 0 auto;

        >.content {
            display: table-cell;
            vertical-align: middle;

            >.headshot {
                display: block;
                margin: 0 auto;
            }

            >.greeting {
                margin-top: 30px;
            }

            >.intro {
                margin-top: 30px;
            }

            >.contactLinks {
                @include clearfix();
                margin-top: 30px;

                >.contactLink {
                    display: block;
                    float: left;
                    margin-left: 40px;
                }

                >.contactLink:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}