body {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  line-height: 1.4;
  font-weight: 300; }

body a {
  color: #777;
  text-decoration: none;
  border-bottom: 2px solid transparent; }

body a:hover {
  color: #444; }

body a:hover.job {
  border-color: #4475d7; }

body a:hover.linkedIn {
  border-color: #d9c200; }

body a:hover.gitHub {
  border-color: #4183c4; }

body a:hover.email {
  border-color: #5da453; }

body > .wrap {
  display: table;
  width: 480px;
  height: 80%;
  margin: 0 auto; }

body > .wrap > .content {
  display: table-cell;
  vertical-align: middle; }

body > .wrap > .content > .headshot {
  display: block;
  margin: 0 auto; }

body > .wrap > .content > .greeting {
  margin-top: 30px; }

body > .wrap > .content > .intro {
  margin-top: 30px; }

body > .wrap > .content > .contactLinks {
  zoom: 1;
  margin-top: 30px; }

body > .wrap > .content > .contactLinks:before {
  content: "\0020";
  display: table;
  height: 0;
  overflow: hidden; }

body > .wrap > .content > .contactLinks:after {
  content: "\0020";
  display: table;
  height: 0;
  overflow: hidden;
  clear: both; }

body > .wrap > .content > .contactLinks > .contactLink {
  display: block;
  float: left;
  margin-left: 40px; }

body > .wrap > .content > .contactLinks > .contactLink:first-child {
  margin-left: 0; }
